@model List<DataAccess.Entity.Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h2>Filmler</h2>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Film Adı</th>
                    <th>Durum</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Id</td>
                        <td>@movie.MovieName</td>
                        <td>
                            @{
                                if (movie.IsActive)
                                {
                                    <span class="badge badge-success">Aktif</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Pasif</span>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
